<div class="container">
		
<div class="row">
    <div class="col-md-7">
    	<h1> About </h1>
  		<p class="text-justify">  Peta has been painting for nearly 30 years in all mediums. She has participated in many workshops and courses with well know artists and teachers such as Kim Spooner, Suzanne Frazer, Jo Bertini, Charlotte Thodey, Lucy Culliton, Fiona Greenhill, Annie Herron and more. Some of the workshops and courses have been in printmaking, tempera and encaustic techniques.</p>
		<br>		
		<p class="text-justify"> Peta works from a beautiful studio on Middle Harbour overlooking the water which provides daily inspiration and enthusiasm to create. Over the years she has developed a deep knowledge of how the medium interacts with the surface it is applied to. Achieving a natural and organic result from combining various mediums on different surfaces is one way of exploring creativity.</p>
		<br>
		<p class="text-justify"> Her work is usually in large format on either board or canvas with emphasis on colour, texture and composition whether it be abstract, still life or landscape. Peta has exhibited in group exhibitions in Sydney and several in the Royal Botanic Garden, Sydney. </p>
	</div>
   <div class="col-md-3 .col-md-offset-3">
		<h1>Contact Peta</h1>
		<p>email:<a mailto:petarattray@gmail.com>petarattray@gmail.com</a></p>		
	</div>
</div>
</div>